@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background: lime;
}
body Header {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
body Header h2 {
  margin: 0 100px;
}
body Header nav {
  margin: 0 100px;
}
body Header nav a {
  margin: 0 5px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}
body Header nav button {
  background: none;
  color: red;
  font-weight: 900;
  border: none;
  cursor: pointer;
  font-size: 23px;
  margin: 0 20px;
}
@media (max-width: 800px) {
  body Header {
    justify-content: center;
    align-items: center;
  }
  body Header h2 {
    font-size: 20px;
    margin: 0 10px;
    font-weight: bold;
  }
  body Header nav {
    margin: 0;
  }
  body Header nav a {
    font-size: 18px;
  }
}
body .Home {
  background: red;
  padding: 0px;
  color: black;
}
body .SocketIo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 86vh;
  background: purple;
  text-align: center;
  justify-content: center;
}
body .SocketIo .loaders {
  display: flex;
  gap: 30px;
}
body .SocketIo .loaders i {
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  justify-content: center;
  align-items: center;
}
body .SocketIo .animations .ani-1 {
  position: absolute;
  left: 100px;
}
body .SocketIo .animations .ani-1 svg {
  background: green;
  width: 100px;
  height: 100px;
  font-size: 40px;
}
body .SocketIo .animations .ani-2 svg {
  width: 100px;
  height: 100px;
  font-size: 40px;
}
body .WebRTC {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 88.6vh;
  background: purple;
  font-family: "Handjet", cursive;
  letter-spacing: 2px;
}
body .WebRTC .do {
  background: black;
  color: purple;
  border: none;
  font-weight: 800;
  font-size: 19px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
  top: 130px;
  right: 50px;
  position: absolute;
  z-index: 10;
}
body .WebRTC .join {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  margin: 20px 0;
  color: black;
}
body .WebRTC .join label {
  font-size: 20px;
  font-weight: 800;
}
body .WebRTC .join input {
  background: none;
  border: 1.5px solid black;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;
  width: 300px;
}
body .WebRTC .join button {
  background: black;
  color: purple;
  border: none;
  font-weight: 800;
  font-size: 19px;
  padding: 6px 12px;
  cursor: pointer;
}
body .WebRTC .MessagesApp {
  background: rgb(111, 0, 111);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  margin: 20px 20px;
  height: 550px;
}
body .WebRTC .MessagesApp .room {
  display: grid;
  justify-content: center;
  margin: 13px 0;
}
body .WebRTC .MessagesApp .room .buttons {
  margin: 5px;
  display: flex;
  margin-top: 15px;
}
body .WebRTC .MessagesApp .room .buttons input {
  background: none;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
}
body .WebRTC .MessagesApp .room .buttons button {
  background: black;
  color: purple;
  border: none;
  font-weight: 800;
  font-size: 19px;
  padding: 0px 12px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 10px;
}
body .WebRTC .MessagesApp .room .messages {
  background: black;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .WebRTC .MessagesApp .room .messages p {
  padding: 2px 5px;
  width: 70%;
  font-size: 17px;
}
body .WebRTC .MessagesApp .room .messages .fromMe {
  color: purple;
  align-self: flex-end;
  text-align: center;
}
body .WebRTC .MessagesApp .room .messages .toMe {
  color: white;
  align-self: flex-start;
  text-align: left;
}
body .WebRTC .ChatApp {
  background: rgb(111, 0, 111);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  margin: 20px 20px;
  margin-top: 60px;
  height: 510px;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
body .WebRTC .ChatApp .remote {
  width: 200px;
  margin: 10px;
  aspect-ratio: 2/1.5;
  background: black;
  border-radius: 10px;
}
body .WebRTC .ChatApp .Screen-Sharing-Toggle {
  background: black;
  color: purple;
  border: none;
  font-weight: 800;
  font-size: 19px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
  top: 130px;
  right: 180px;
  position: absolute;
  z-index: 10;
}
body .WebRTC .ChatApp .On-Off-Toggle {
  background: black;
  color: purple;
  border: none;
  font-weight: 800;
  font-size: 19px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
  top: 130px;
  right: 360px;
  position: absolute;
  z-index: 10;
}
body .WebRTC .ChatApp .On-Off-Toggle:hover {
  color: red;
}