*{ padding: 0; margin:0; }

@mixin mobile {
    @media (max-width:800px) {
        @content
    }
}

body{

    text-align:center; background:lime;

    Header{ background:white; display:flex; justify-content:space-between; padding:15px; 

        h2{ margin:0 100px; }

        nav{  margin:0 100px; 
        
            a{ margin:0 5px; color:black; text-decoration:none; font-weight:bold; font-size:23px; }

            button{background:none; color:red; font-weight:900; border:none; cursor:pointer; font-size:23px; margin:0 20px; }
        
        }

        @include mobile{
            justify-content:center; 
            align-items:center;
            h2{font-size:20px; margin:0 10px; font-weight:bold;}
            nav{ margin:0;  
                a{ font-size:18px; }
            }
        }

    }


}