*{ padding: 0; margin:0; }

@mixin mobile {
    @media (max-width:800px) {
        @content
    }
}

body{

    text-align:center; background:lime;

    Header{ background:white; display:flex; justify-content:space-between; padding:15px; 

        h2{ margin:0 100px; }

        nav{  margin:0 100px; 
        
            a{ margin:0 5px; color:black; text-decoration:none; font-weight:bold; font-size:23px; }

            button{background:none; color:red; font-weight:900; border:none; cursor:pointer; font-size:23px; margin:0 20px; }
        
        }

        @include mobile{
            justify-content:center; 
            align-items:center;
            h2{font-size:20px; margin:0 10px; font-weight:bold;}
            nav{ margin:0;  
                a{ font-size:18px; }
            }
        }

    }

    .Home{
        background:red;
        padding:0px;
        color:black;
        
    }


    .SocketIo{ display: grid; justify-content:center;

        input{ margin:5px; }
        button{ width:100px; margin:5px; }

        .messages{ background:white; padding:10px; border-radius:10px; width:400px;
            .fromMe{ color:limegreen; translate:100px; }
            .toMe{ color:red; translate:-100px; }
        }
    }


    .explore{display:flex;flex-direction:column;align-items:center;input{margin-bottom:10px;}}
}